@page "/RegistroContratos"
@page "/RegistroContratos/{ContratoId:int}"


@inject IToastService toastService

<EditForm Model="contratos" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <PageTitle>Registro de Contratos</PageTitle>

    <div class="container">

        <div class="card-header">
            <h3>
                <center> <b> Registro de Contratos</b> </center>
            </h3>
        </div>

        <div class="card-body">

            <div class="form-row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label><b>Contrato Id</b></label>
                        <div class="input-group">
                            <InputNumber @bind-Value="contratos.ContratoId" class="form-control col-4" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-warning" @onclick="Buscar">
                                    <i class="oi oi-magnifying-glass mr-2" /> <b> Buscar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                @* Fecha *@
                <div class="form-group col">
                    <label><b>Fecha </b></label>
                    <InputDate class="form-control" @bind-Value="contratos.Fecha" />
                    <ValidationMessage For="@(() => contratos.Fecha)" />
                </div>

                <div class="form-group col">
                    <label><b> ClienteId</b></label>
                    <InputSelect @bind-Value="contratos.ClienteId" class="form-select ">
                        <option value="0" disabled selected> Seleccione un Cliente</option>

                        @foreach (var item in lista)
                        {

                            <option value="@item.ClienteId">@item.Nombre</option>
                        }
                    </InputSelect>

                </div>

                @* Comentarios *@
                <div class="form-group">
                    <label><b>Comentarios</b></label>
                    <InputText class="form-control" @bind-Value="contratos.Comentarios"
                        placeholder="Ingresar Comentario" />
                    <ValidationMessage For="@(() => contratos.Comentarios)" />
                </div>

                <br>


                @* CONTRATO DETALLE *@
                <div class="card align-items-center">
                    <div class="card-header">
                        <h3><b>Detalle del Contrato</b></h3>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label style="width: 20%"><b>Servicio</b></label>
                                <label style="width: 24%"><b>Cantidad</b></label>
                                <label style="width: 20%"><b>Precio</b></label>
                                <label style="width: 15%"><b>Importe</b></label>

                                <div class="input-group">

                                    <select @bind="servicios.ServicioId" class="form-select" @onfocusout="ObtenerDatos">
                                        <option value="0" disabled selected> Seleccione un Servicio</option>

                                        @foreach (var item in lista2)
                                        {
                                            <option value="@item.ServicioId">@item.Plan</option>
                                        }
                                    </select>


                                    <InputNumber class="form-control" @bind-Value="contratosDetalle.Cantidad"
                                        @onfocusout="CalcularImporte" />

                                    <InputNumber readonly class="form-control" @bind-Value="servicios.Precio" />

                                    <InputNumber readonly class="form-control" @bind-Value="contratosDetalle.Importe" />



                                    <button type="button" class="btn btn-outline-primary btn-lg"
                                        @onclick="AgregarDetalle"> <b>Agregar
                                            Detalle </b></button>
                                </div>
                            </div>

                        </div>

                        @* Tabla de productos *@
                        <table class="table table-success table-striped">
                            <thead class="thead-dark">
                                <tr class="table-info">
                                    <th>Servicio</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Importe</th>
                                    <th>Remover</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var detalle in contratos.ContratosDetalle)

                                {

                                    <tr>
                                        <td>@detalle.servicios.ServicioId</td>
                                        <td>@detalle.servicios.Plan.Descripcion</td>
                                        <td>@detalle.Cantidad</td>
                                        <td>RD$@detalle.servicios.Precio</td>
                                        <td>RD$@detalle.Importe</td>

                                        <td><span class="btn btn-sm btn-outline-primary oi oi-ban" href="#"
                                            @onclick="@(() => RemoverFila(detalle))"> Remover</span> </td>
                                    </tr>
                                }
                                <br>


                            </tbody>

                            @foreach (var items in contratos.ContratosDetalle)
                            {
                                contratosDetalle.MontoTotal += items.Importe;
                            }
                            <label><b>Monto Total:</b></label>
                            <InputNumber readonly class="form-control" @bind-Value=" contratosDetalle.MontoTotal" />
                            <ValidationMessage For="@(() =>  contratosDetalle.MontoTotal)" />
                        </table>
                    </div>
                </div>


                @* Botones *@

                <div class="card-footer">
                    <div class="form-group text-center" display: inline-block>
                        <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                        <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                        <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>
@code {
    [Parameter]
    public int ContratoId { get; set; }


    [Inject]
    public ContratosBLL contratosBLL { get; set; }
    [Inject]
    public ClientesBLL clientesBLL { get; set; }
    [Inject]
    public ServiciosBLL serviciosBLL { get; set; }

    public Contratos contratos { get; set; } = new Contratos();
    public Servicios servicios { get; set; } = new Servicios();
    public ContratosDetalle contratosDetalle { get; set; } = new ContratosDetalle();

    public List<Clientes> lista { get; set; } = new List<Clientes>();

    public List<Servicios> lista2 { get; set; } = new List<Servicios>();


    protected override void OnInitialized()
    {
        contratos.ContratoId = ContratoId;
        lista = clientesBLL.GetList(t => true);
        lista2 = serviciosBLL.GetList(t => true);
        Buscar();

    }



    public void Buscar()
    {
        if (this.contratos.ContratoId > 0)
        {
            Contratos encontrado = contratosBLL.Buscar(this.contratos.ContratoId);
            if (encontrado != null)
            {
                this.contratos = encontrado;
                toastService.ShowSuccess("Contrato encontrado.");
            }
            else
            {
                toastService.ShowError("No se encontro el cliente");
            }
        }

    }
    public void Nuevo()
    {
        contratos = new Contratos();
    }



    public void Guardar()
    {
        if (ContratoValido())
        {


            if (contratosBLL.Guardar(contratos))
            {
                Nuevo();
                toastService.ShowInfo("Contratos guardado exitosamente.");
            }
            else
                toastService.ShowError("No se pudo guardar el contratos.");
        }
    }
    public void Eliminar()
    {
        bool eliminado;
        eliminado = contratosBLL.Eliminar(contratos.ContratoId);
        if (eliminado)
        {
            Nuevo();
            toastService.ShowSuccess("Eliminacion exitosa");
        }
        else
        {
            toastService.ShowError("Eliminacion fallida");
        }

    }


    private void AgregarDetalle()
    {
        Servicios servicioEncontrado = serviciosBLL.Buscar(servicios.ServicioId);
        this.contratosDetalle.servicios = servicioEncontrado;
        this.contratos.ContratosDetalle.Add(contratosDetalle);
        this.contratosDetalle = new ContratosDetalle();
        servicios = new Servicios();

    }

    public bool ContratoValido()
    {
        bool valido = true;

        if (contratos.ContratosDetalle.Count <= 0)
        {
            valido = false;

            toastService.ShowError("Se debe indicar un servicio", "Contrato Invalido");
        }

        return valido;
    }



    private void ObtenerDatos()
    {
        Servicios servicioAgregar = serviciosBLL.Buscar(servicios.ServicioId);

        if (servicioAgregar != null)
        {
            servicios = servicioAgregar;
        }
    }

    private void CalcularImporte()
    {
        contratosDetalle.Importe = contratosDetalle.Cantidad * servicios.Precio;
    }
    private void RemoverFila(ContratosDetalle item)
    {
        this.contratos.ContratosDetalle.Remove(item);
    }


}
